$govuk-assets-path: "/claim-vat-enrolment/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/claim-vat-enrolment/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/dist/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";


a.govuk-back-link {
  display:none;
}

.js-enabled  a.govuk-back-link {
  display: inline;
}